[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Plastic SCM (Unity)
.plastic/
ignore.conf

# IDE / Unity Hub
*.slnx


.vscode/
.idea/

*.csproj
*.sln
*.user
*.pidb
*.booproj
